/*Global 변수*/
:root {
	/*App Colors*/
	--color-primary: var(--color-blue);
	--color-primary-variant: var(--color-gray);
	--color-accent: var(--color-sky);
	--color-accent-variant: var(--color-orange);
	--color-text: var(--color-white);
	/* Colors */
	--color-white: #ffffff;
	--color-blue: #5f7398;
	--color-sky: #858ebe;
	--color-orange: #fd6413;
	--color-gray: #1b1e26;
	--color-background: #ebeef2; 
	/*Size*/
	--size-max-width: 1200px;
}

* {
	box-sizing: border-box;
	/* 박스 크기를 계산할 때 테두리를 기준으로 크기를 결정 
    요소가 애플리케이션 화면을 벗어나지 않도록 예방*/
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	background: #ebeef2; 
}

h1, h2, h3, p, ul {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--color-text);
}

/*Common (공통으로 사용하는 것)*/
.section {
	padding: 4rem;
	text-align: center;
}

.title {
	font-size: 2.5rem;
	margin: 1rem 0;
}

.description {
	font-size: 1.5rem;
	margin: 0.5rem 0;
}

.max-container {
	max-width: var(--size-max-width);
	/*창 늘어날 때 박스 간격 벌어지는 것 방지*/
	margin: auto;
	/*block 레벨 수평정렬 - auto는 자동으로 중간 정렬*/
}

.fa-solid:hover {
	color: var(--color-accent-variant);
}

.fa-solid:focus {
	color: var(--color-accent-variant);
}

.star {
	margin-left: auto;
}


*Header*/
.header {
	background-color: var(--color-primary);
	/* position: fixed; */
	top: 0;
	width: 100%;
	padding: 1rem;
	display: block; /*flexbox*/
	justify-content: space-between;
	align-items: center;
}

.header1 {
	background-color: var(--color-primary);
	top: 0;
	width: 100%;
	padding: 1rem;
	display: flex; /*flexbox*/
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: flex;
	align-items: center;
	gap: 8px;
}

.header__logo__img {
	width: 45px;
	height: 45px;
	border-radius: 20px;
}

.header__logo__title {
	font-size: 1.8rem;
}

.header__menu {
	display: flex;
	gap: 4px;
}

.header__menu__item {
	padding: 8px 16px;
}

.header__menu__item:hover {
	border-bottom: 4px solid var(--color-accent);
}

.header__menu__item.active {
	border: 4px solid var(--color-accent);
	border-radius: 4px;
}

.header2 {
	background-color: var(--color-primary);
	display: flex; /*flexbox*/
	top: 0;
	width: 100%;
	padding: 1rem;
	justify-content: space-between;
	align-items: center;
}

.header__search {
	display: flex;
}

input[type="text"] {
	border-radius: 20px;
	border: 6px solid #697ef1;
}

input::placeholder {
	font-weight: bold;
	text-align: center;
}

.header__search__button {
	background-color: #697ef1;
	border-radius: 20px;
	color: var(--color-text);
	outline: 0;
	border: 0;
	padding: 10px 20px;
	margin: 0 10px;
	cursor: pointer;
}

.header__serach__button:hover {
	outline: 1px solid var(--color-accent);
}

textarea::placeholder {
	font-weight: bold;
	text-align: center;
}
/*================================================================*/
/* boxOffice 섹션 */
.boxoffice {
	display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px; /* Footer와의 간격을 조정하기 위한 여분의 패딩 */
}

.movies {
	display: grid;
	gap: 1rem;
	width: 100%;
}

.boxoffice_name ul {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	padding: 30px 0 30px 0;
	justify-content: center;
	text-align: center;
}

.boxoffice_name li {
	padding: 0 40px;
	display: inline-block;
}

.boxoffice_name li a {
	display: block;
	padding: 15px 15px;
	font-size: 20px;
	color: #989696;
/* 	font-weight: 5500; */
	border-radius: 10px;
}

/* .boxoffice_name li a:hover {
	border-radius: 10px solid var(--color-orange);
}
 */

.boxoffice_name li.active a {
	border-radius: 10px solid var(--color-orange);
}

.col {
	border-radius: 8px;
	border: 1px solid #A4A4A4;
	overflow: hidden;
	float: left;
	padding: 10px;
	margin: 10px;
	position: relative;
	justify-content: center;
	text-align: center;
}

.col>img {
	width: 100%;
}

.col .rank {
	position: absolute;
	top: 30px;
	left: 10px;
	width: 50px;
	height: 50px;
	font-size: 60px;
	line-height: 50px;
	text-align: center;
}

.col .rank strong {
	color: #ffffff;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.info {
	position: absolute;
	padding-top: 10px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-black);
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 250ms ease-in;
	transform: translateY(-10px);
	font-size: 1.2rem; /*영화 제목, 설명 글짜 크기*/
	color: white;
}

.info:hover {
	opacity: 1;
	transform: translateY(0px);
}

.card-title:after {
	content: "";
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 0.5rem 0;
	width: 100px;
	height: 2px;
	background-color: #767fb5;
}

/*Footer*/
#contact {
	background-color: var(--color-primary);
	color: var(--color-text);
}

.contact__links {
	display: flex;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
	font-size: 2rem;
}

.contact__link {
	transition: color 250ms ease-in;
	/*추가요소(중요x)*/
}

.contact__link:hover {
	color: var(--color-accent);
}

footer {
	position: relative;		/*fixed가 아닌 relative로 바꾸면, 화면 스크로를 다 내려야지 footer가 보임*/
	bottom: 0;
	width: 100%;
	background-color: #f8f9fa;
	padding: 20px 0;
	text-align: center;
}

/*+고리스
박스오피스 관련 UI*/

.boxoffice_movie {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* 카드를 중앙으로 정렬 */
	gap: 20px;
	padding: 20px;
	overflow-y: auto; /* 스크롤 가능하도록 설정 */
	max-height: calc(100vh - 250px); /* 화면 높이에서 헤더와 푸터의 높이를 제외한 값 */
	position: relative;
	width: 100%; /* 전체 너비에 맞게 설정 */
	margin-top: 50px;
	min-height: 1700px;
}

.card {
	flex: 0 1 calc(20% - 20px); /* 한 줄에 최대 5장의 카드를 표시하도록 설정 */
    max-width: calc(20% - 20px); /* 한 줄에 5장의 카드가 모두 표시되었을 때의 최대 카드 너비 */
	margin-bottom: 20px; /* 카드 간격 설정 */
	background-color: #f9f9f9;
	box-shadow: 0 0 8px rgba(0, 0, 0, 1);	/* 기본 그림자 효과: 검정색 */
	border-radius: 30px; /* 테두리 둥글게 */
	border: 3px solid #A4A4A4;
	overflow: hidden; /* 카드 내부 요소가 넘치는 경우를 방지하기 위해 오버플로우 숨김 */
	
	/* 마우스를 올렸을 때의 스타일 */
    transition: box-shadow 1s ease; /* 그림자 효과에 트랜지션 적용 */
   min-height: 400px;
}

.btn-primary {
	margin-top: 15px;
}

.card.active {
    box-shadow: 0 0 8px rgba(255, 0, 0, 1); /* 마우스를 올렸을 때의 그림자 효과: 주황색 */
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	position: relative; /* 상대 위치 지정 */
	padding: 10px; /* 내용과 테두리 사이의 간격을 조정 */
	height: 50px; /* 원하는 높이로 설정 */
}

.card-header span {
    overflow: hidden; /* 넘치는 텍스트 숨기기 */
    text-overflow: ellipsis; /* 넘치는 텍스트 대신 ...으로 표시 */
    font-weight: bold;
    position: absolute; /* 절대 위치 지정 */
    top: 50%; /* 상단에서 절반만큼 이동 */
}

.card-header span:first-child {
	display: -webkit-box;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 나타낼 줄 수 */
    left: 50%; /* 좌측에서 절반만큼 이동 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
}

.rankOldAndNew {
	display: flex;
	right: 5%; /* 좌측에서 절반만큼 이동 */
	justify-content: center;
	color: white;
	background-color: red; /* 배경색 지정 */
	border-radius: 20%; /* 사각형 모양으로 설정 */
	width: 45px; /* 가로 설정 */
    height: 30px; /* 세로 설정 */
    position: absolute; /* 절대 위치 설정 */
    font-weight: bold; /* 글꼴 굵게 */
    top: 50%; /* 상단에서 절반만큼 이동 */
    transform: translateY(-50%); /* 세로 중앙 정렬 */
}

.card img {
    width: 100%; /* 이미지를 카드의 가로 너비에 맞춤 */
    height: auto; /* 이미지 비율 유지 */
    object-fit: cover; /* 이미지를 카드에 맞추되 비율 유지 */
}

.card-img-top {
    border: 4px solid #0A043C; /* 짙은 남색 테두리 색상 */
}

/* 카드 내 모든 텍스트의 글꼴 변경 */
.card-header, .card-body, .card-text, .list-group-item {
    font-family: 'Sens Korea', sans-serif;
}

.datepicker-container {
	position: relative;
	top: 20px;
	left: 20px;
}

.datepicker-btn-group {
	display: flex;
	width: 120px;
	margin: 0 0 0 20px;
}

.datepicker-btn, .search-btn {
	padding: 6px 12px;
	margin-left: 10px;
	border: none;
	border-radius: 5px;
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}

.search-btn {
	background-color: #28a745;
}

.active a {
	color: red;
	border: 1px solid red;
}

.boxoffice_name ul li a.active {
	color: red;
	border: 1px solid red;
}

.date_range {
    text-align: center;
    font-size: 30px;
    margin: 0 0 60px 0;
}

.numberCircle {
    position: absolute;
    left: 5px; /* 추가: 좌측 여백 조정 */
    background-color: var(--color-orange); /* 배경색 지정 */
    color: #fff; /* 텍스트 색상 지정 */
    border-radius: 50%; /* 원형 모양으로 설정 */
    width: 40px; /* 지름 설정 */
    height: 40px; /* 지름 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px; /* 숫자 크기 */
    font-weight: bold; /* 글꼴 굵게 */
}

.fa-solid:hover {
	color: var(--color-accent-variant);
}

/*화살표*/
.arrow-up {
	background-color: var(--color-primary);
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	font-size: 3rem;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 100%;
	text-align: center;
	box-shadow: 5px 5px 0px 0px var(--color-accent);
	transition: opacity 300ms ease-in;
}

@media screen and (max-width: 1200px) {
    .card {
        flex-basis: calc(25% - 20px); /* 화면 크기가 1200px 이하일 때 한 줄에 4장의 카드 표시 */
        max-width: calc(25% - 20px);
    }
}

@media screen and (max-width: 992px) {
    .card {
        flex-basis: calc(33.333% - 20px); /* 화면 크기가 992px 이하일 때 한 줄에 3장의 카드 표시 */
        max-width: calc(33.333% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 20px); /* 화면 크기가 768px 이하일 때 한 줄에 2장의 카드 표시 */
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 576px) {
    .movies {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}