/*Global 변수*/
:root {
	/*App Colors*/
	--color-primary: var(--color-blue);
	--color-primary-variant: var(--color-gray);
	--color-accent: var(--color-sky);
	--color-accent-variant: var(--color-orange);
	--color-text: var(--color-white);
	/* Colors */
	--color-white: #ffffff;
	--color-blue: #5f7398;
	--color-sky: #858ebe;
	--color-orange: #fd6413;
	--color-gray: #1b1e26;
	--color-background: #ebeef2; 
	/*Size*/
	--size-max-width: 1200px;
}

* {
	box-sizing: border-box;
	/* 박스 크기를 계산할 때 테두리를 기준으로 크기를 결정 
    요소가 애플리케이션 화면을 벗어나지 않도록 예방*/
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	background: #ebeef2; 
}

h1, h2, h3, p, ul {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--color-text);
}

/*Common (공통으로 사용하는 것)*/
.section {
	padding: 4rem;
	text-align: center;
}

.title {
	font-size: 2.5rem;
	margin: 1rem 0;
}

.description {
	font-size: 1.5rem;
	margin: 0.5rem 0;
}

.max-container {
	max-width: var(--size-max-width);
	/*창 늘어날 때 박스 간격 벌어지는 것 방지*/
	margin: auto;
	/*block 레벨 수평정렬 - auto는 자동으로 중간 정렬*/
}

.fa-solid:hover {
	color: var(--color-accent-variant);
}

.fa-solid:focus {
	color: var(--color-accent-variant);
}

.star {
	margin-left: auto;
}


*Header*/
.header {
	background-color: var(--color-primary);
	/* position: fixed; */
	top: 0;
	width: 100%;
	padding: 1rem;
	display: block; /*flexbox*/
	justify-content: space-between;
	align-items: center;
}

.header1 {
	background-color: var(--color-primary);
	top: 0;
	width: 100%;
	padding: 1rem;
	display: flex; /*flexbox*/
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: flex;
	align-items: center;
	gap: 8px;
}

.header__logo__img {
	width: 45px;
	height: 45px;
	border-radius: 20px;
}

.header__logo__title {
	font-size: 1.8rem;
}

.header__menu {
	display: flex;
	gap: 4px;
}

.header__menu__item {
	padding: 8px 16px;
}

.header__menu__item:hover {
	border-bottom: 4px solid var(--color-accent);
}

.header__menu__item.active {
	border: 4px solid var(--color-accent);
	border-radius: 4px;
}

.header2 {
	background-color: var(--color-primary);
	display: flex; /*flexbox*/
	top: 0;
	width: 100%;
	padding: 1rem;
	justify-content: space-between;
	align-items: center;
}

.header__search {
	display: flex;
}

input[type="text"] {
	border-radius: 20px;
	border: 6px solid #697ef1;
}

input::placeholder {
	font-weight: bold;
	text-align: center;
}

.header__search__button {
	background-color: #697ef1;
	border-radius: 20px;
	color: var(--color-text);
	outline: 0;
	border: 0;
	padding: 10px 20px;
	margin: 0 10px;
	cursor: pointer;
}

.header__serach__button:hover {
	outline: 1px solid var(--color-accent);
}

textarea::placeholder {
	font-weight: bold;
	text-align: center;
}
/*================================================================*/
/* movieSearch 섹션 */

.movieSearch_movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px; /* Footer와의 간격을 조정하기 위한 여분의 패딩 */
}

.movies {
	display: grid;
	gap: 1rem;
	width: 100%;
}

.col {
	border-radius: 8px;
	border: 1px solid #A4A4A4;
	overflow: hidden;
	float: left;
	padding: 10px;
	margin: 10px;
	position: relative;
	justify-content: center;
	text-align: center;
}

.col>img {
	width: 100%;
}

.col .rank {
	position: absolute;
	top: 30px;
	left: 10px;
	width: 50px;
	height: 50px;
	font-size: 60px;
	line-height: 50px;
	text-align: center;
}

.col .rank strong {
	color: #ffffff;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
}

.info {
	position: absolute;
	padding-top: 10px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-black);
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 250ms ease-in;
	transform: translateY(-10px);
	font-size: 1.2rem; /*영화 제목, 설명 글짜 크기*/
	color: white;
}

.info:hover {
	opacity: 1;
	transform: translateY(0px);
}

.card-title:after {
	content: "";
	display: block;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 0.5rem 0;
	width: 100px;
	height: 2px;
	background-color: #767fb5;
}

/*Footer*/
#contact {
	background-color: var(--color-primary);
	color: var(--color-text);
}

.contact__links {
	display: flex;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
	font-size: 2rem;
}

.contact__link {
	transition: color 250ms ease-in;
	/*추가요소(중요x)*/
}

.contact__link:hover {
	color: var(--color-accent);
}

footer {
	position: relative;		/*fixed가 아닌 relative로 바꾸면, 화면 스크로를 다 내려야지 footer가 보임*/
	bottom: 0;
	width: 100%;
	background-color: #f8f9fa;
	padding: 20px 0;
	text-align: center;
}

/*+고리스
영화 검색 관련 UI*/

#searchInput, #searchButton {
    margin-bottom: 10px; /* 검색바와 버튼 간의 간격 조정 */
}

.movieSearch_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center; /* 카드를 중앙으로 정렬 */
	gap: 20px;
	padding: 20px;
	position: relative;
	width: 100%; /* 전체 너비에 맞게 설정 */
}

.search-container {
	margin-top: 25px; /* 카드 간격 설정 */
}

.card {	
	opacity: 0; /* 초기에는 투명으로 설정하여 숨김 */
	
	flex: 0 1 calc(20% - 20px); /* 한 줄에 최대 5장의 카드를 표시하도록 설정 */
    max-width: calc(20% - 20px); /* 한 줄에 5장의 카드가 모두 표시되었을 때의 최대 카드 너비 */
	margin-bottom: 20px; /* 카드 간격 설정 */
	background-color: #f9f9f9;
	box-shadow: 0 0 8px rgba(0, 0, 0, 1);	/* 기본 그림자 효과: 검정색 */
	border-radius: 30px; /* 테두리 둥글게 */
	border: 3px solid #A4A4A4;
	overflow: hidden; /* 카드 내부 요소가 넘치는 경우를 방지하기 위해 오버플로우 숨김 */
	
	/* 마우스를 올렸을 때의 스타일 */
    transition: box-shadow 0.3s ease; /* 그림자 효과에 트랜지션 적용 */
}

@keyframes fadeInFromBottom {
    from {
        opacity: 0; /* 시작 시 투명도 0으로 설정하여 숨김 */
        transform: translateY(50%); /* 아래에서 시작 */
    }
    to {
        opacity: 1; /* 끝나는 시점에 투명도 1로 설정하여 나타남 */
        transform: translateY(0); /* 위로 이동하여 나타남 */
    }
}

/* 각 카드에 애니메이션 효과 적용 */
.card {
    animation: fadeInFromBottom 1.0s ease forwards; /* fadeIn 애니메이션 효과를 0.5초 동안 적용 */
}

/* 순차적으로 나타나도록 각 카드에 지연 효과 적용 */
.card:nth-child(1) {
    animation-delay: 0.15s; /* 첫 번째 카드는 0.1초 후에 애니메이션 시작 */
}
.card:nth-child(2) {
    animation-delay: 0.3s; /* 두 번째 카드는 0.2초 후에 애니메이션 시작 */
}
.card:nth-child(3) {
    animation-delay: 0.45s; /* 두 번째 카드는 0.2초 후에 애니메이션 시작 */
}
.card:nth-child(4) {
    animation-delay: 0.6s; /* 두 번째 카드는 0.2초 후에 애니메이션 시작 */
}
.card:nth-child(5) {
    animation-delay: 0.75s; /* 두 번째 카드는 0.2초 후에 애니메이션 시작 */
}
.card:nth-child(6) {
    animation-delay: 0.9s; /* 두 번째 카드는 0.2초 후에 애니메이션 시작 */
}
.card:nth-child(7) {
    animation-delay: 1.05s; /* 두 번째 카드는 0.2초 후에 애니메이션 시작 */
}
.card:nth-child(8) {
    animation-delay: 1.3s; /* 두 번째 카드는 0.2초 후에 애니메이션 시작 */
}
.card:nth-child(9) {
    animation-delay: 1.45s; /* 두 번째 카드는 0.2초 후에 애니메이션 시작 */
}
.card:nth-child(10) {
    animation-delay: 1.6s; /* 두 번째 카드는 0.2초 후에 애니메이션 시작 */
}

.card.active {
    box-shadow: 0 0 8px rgba(255, 140, 0, 1); /* 마우스를 올렸을 때의 그림자 효과: 주황색 */
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	position: relative; /* 상대 위치 지정 */
}

.card-header span {
	display: -webkit-box;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 나타낼 줄 수 */
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    position: absolute; /* 절대 위치 지정 */
    top: 50%; /* 상단에서 절반만큼 이동 */
    left: 50%; /* 좌측에서 절반만큼 이동 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
}

.card img {
    width: 100%; /* 이미지를 카드의 가로 너비에 맞춤 */
    height: auto; /* 이미지 비율 유지 */
    object-fit: cover; /* 이미지를 카드에 맞추되 비율 유지 */
}

.card-img-top {
    border: 4px solid #0A043C; /* 짙은 남색 테두리 색상 */
}

/* 카드 내 모든 텍스트의 글꼴 변경 */
.card-header, .card-body, .card-text, .list-group-item {
    font-family: 'Sens Korea', sans-serif;
}

/* 즐겨찾기 테두리 스타일 */
.bookmark-btn {
	visibility: hidden; /* 아이콘을 숨김 */
	background: none;
	border: #f8f9fb;
	color: black; /* 기본 색상 */
	font-size: 24px;
	cursor: pointer;
	transition: color 0.3s; /* 색상 변화를 위한 트랜지션 */
}

.fa-solid:hover {
	color: var(--color-accent-variant);
}

/* 즐겨찾기 클릭 시의 색상 */
.bookmark-btn.bookmarked {
	color: yellow;
}


@media screen and (max-width: 1200px) {
    .card {
        flex-basis: calc(25% - 20px); /* 화면 크기가 1200px 이하일 때 한 줄에 4장의 카드 표시 */
        max-width: calc(25% - 20px);
    }
}

@media screen and (max-width: 992px) {
    .card {
        flex-basis: calc(33.333% - 20px); /* 화면 크기가 992px 이하일 때 한 줄에 3장의 카드 표시 */
        max-width: calc(33.333% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 20px); /* 화면 크기가 768px 이하일 때 한 줄에 2장의 카드 표시 */
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 576px) {
    .movies {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}