/*Global 변수*/
:root {
	/*App Colors*/ -
  --color-primary: var(--color-blue);
  --color-primary-variant: var(--color-gray);
  --color-accent: var(--color-sky);
  --color-accent-variant: var(--color-orange);
  --color-text: var(--color-white);
	/* Colors */ -
  /* Colors */
  --color-white: #ffffff;
  --color-blue: #1b325c;
  --color-sky: #697ef1;
  --color-orange: #fd6413;
  --color-gray: #1b1e26;

  /*Size*/
  --size-max-width: 1200px;
}

* {
	box-sizing: border-box;
	/* 박스 크기를 계산할 때 테두리를 기준으로 크기를 결정 
  요소가 애플리케이션 화면을 벗어나지 않도록 예방*/
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

h1, h2, h3, p, ul {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(- -color-text);
}

/*Common (공통으로 사용하는 것)*/
.section {
	padding: 4rem;
	text-align: center;
}

.title {
	font-size: 2.5rem;
	margin: 1rem 0;
}

.description {
	font-size: 1.5rem;
	margin: 0.5rem 0;
}

.max-container {
	max-width: var(--size-max-width);
	/*창 늘어날 때 박스 간격 벌어지는 것 방지*/
	margin: auto;
	/*block 레벨 수평정렬 - auto는 자동으로 중간 정렬*/
}

/*Header*/
.header {
	background-color: var(--color-primary);
	/* position: fixed; */
	top: 0;
	width: 100%;
	padding: 1rem;
	display: block; /*flexbox*/
	justify-content: space-between;
	align-items: center;
}

.header1 {
	background-color: var(--color-primary);
	top: 0;
	width: 100%;
	padding: 1rem;
	display: flex; /*flexbox*/
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	display: flex;
	align-items: center;
	gap: 8px;
}

.header__logo__img {
	width: 45px;
	height: 45px;
	border-radius: 20px;
}

.header__logo__title {
	font-size: 1.8rem;
}

.header__menu {
	display: flex;
	gap: 4px;
}

.header__menu__item {
	padding: 8px 16px;
}

.header__menu__item:hover {
	border-bottom: 4px solid var(--color-accent);
}

.header__menu__item.active {
	border: 4px solid var(--color-accent);
	border-radius: 4px;
}

.header2 {
	background-color: var(--color-primary);
	display: flex; /*flexbox*/
	top: 0;
	width: 100%;
	padding: 1rem;
	justify-content: space-between;
	align-items: center;
}

.header__search {
	display: flex;
}

input[type="text"] {
	border-radius: 20px;
	border: 6px solid #697ef1;
}

input::placeholder {
	font-weight: bold;
	text-align: center;
}

.header__search__button {
	background-color: #697ef1;
	border-radius: 20px;
	color: var(- -color-text);
	outline: 0;
	border: 0;
	padding: 10px 20px;
	margin: 0 10px;
	cursor: pointer;
}

.header__serach__button:hover {
	outline: 1px solid var(--color-accent);
}

main {
	height: 700px;
}

/* Left */
.myTitle {
	margin-top: 30px;
	margin-left: 70px;
	margin-bottom: 30px;
}

.myText {
	margin-left: 20px;
}

.fa-regular {
	margin-right: 20px;
	margin-top: 14px;
	color: gray;
	float: right;
}

div.left {
	float: left;
}

.myMenu {
	display: block;
	border: 1px solid lightgray;
	width: 200px;
	font-size: 20px;
	margin-left: 80px;
	margin-right: 20px;
	text-align: left;
	line-height: 50px;
	color: black;
}

/* Middle */
.mTitle {
	width: 100%;
}

.mText {
	line-height: 100px;
}

div.middle {
	float: left;
}

table {
	font-size: 20px;
}

th {
	height: 70px;
	width: 200px;
}

td {
	width: 500px;
}

.user_info_name {
	margin-top: 30px;
	font-size: 20px;
	text-align: center;
}

/* Right */
div.right {
	margin-left: 200;
	height: 700px;
	float: left;
}

.user_info {
	margin-top: 30px;
	font-size: 20px;
}

div.withdrawal {
	margin-top: 400px;
	margin-left: 200px;
	float: left;
}

div.withdrawal>button {
	font-size: 20px;
}

/* review */
div.reviewBox {
	overflow: auto;
	border-bottom: 1px solid black;
	margin: 0px 150px 0px 350px;
	padding-top: 20px;
	padding-bottom: 50px;
}

img.posterImg {
	float: left;
	width: 112px;
	height: 160px;
	margin-right: 20px;
}

.reviewUpdate {
	float: right;
	margin-right: 50px;
}

.xmark {
	float: right;
	width: 32px;
	height: 32px;
	margin-top: 5px;
	cursor: pointer;
}

span.movieName, .movieNameSub, .movieRate, .reviewDes, .reviewUpdate {
	font-size: 30px;
}

.starBox {
	width: 270px;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

img.star {
	width: 26px;
	height: 26px;
}

/* review-Sub */
.subHeader {
	min-height: 50px;
	width: 100%;
	background-color: var(--color-blue);
}

.title {
	font-size: 2.5rem;
	margin: 1rem 0;
	display: block; /* span을 블록 요소로 변경 */
	text-align: center; /* 가운데 정렬 */
	line-height: 100px;
}

div.reviewSubBox {
	overflow: auto;
	border-top: 1px solid black;
	padding-top: 50px;
	padding-left: 65px;
	padding-bottom: 50px;
	text-align: left; /* 내용은 왼쪽 정렬 유지 */
	margin: auto;
}

img.posterImgSub {
	float: left;
	width: 84px;
	height: 120px;
	margin-right: 20px;
}

textarea {
	display: block;
	margin-bottom: 50px;
}

.update {
	display: block;
	margin: 0 auto;
	font-size: 30px;
}

.sub {
	height: 700px;
	width: 500px;
	margin: 0 auto;
}

/* favorite */
div.favoriteBox {
	position: relative;
	overflow: auto;
	float: left;
	border-right: 1px solid black;
	padding: 50px 100px 50px 100px;
}

img.favoritImg {
	position: relative;
	width: 209;
	height: 300px;
	margin-right: 20px;
}

.movieNameSub {
	line-height: 60px;
}

.heart {
	position: absolute;
	z-index: 1;
	width: 32px;
	height: 32px;
	left: 260px;
	top: 60px;
}

span.favoriteMovieName {
	font-size: 30px;
	margin-left: 77px;
}

.favoriteStarBox {
	width: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0px 10px 28px;
}

/*Footer*/
#contact {
	background-color: var(--color-primary);
	color: var(--color-text);
}

.contact__links {
	display: flex;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
	font-size: 2rem;
}

.contact__link {
	transition: color 250ms ease-in;
	/*추가요소(중요x)*/
}

.contact__link:hover {
	color: var(--color-accent);
}

/*화살표*/
.arrow-up {
	background-color: var(--color-primary);
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	font-size: 3rem;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 100%;
	text-align: center;
	box-shadow: 5px 5px 0px 0px var(--color-accent);
	transition: opacity 300ms ease-in;
}

/*기본화*/
.rate {
	/* 모든 스타일 속성을 기본값으로 설정합니다. */
	padding: 0px;
	margin: 0 auto;
	font-size: 30px;
	/* 기타 스타일 속성을 추가할 수 있습니다. */
	width: 60px;
}

.star {
	font-size: 30px;
}