/*Global 변수*/
:root {
    /*App Colors*/
    --color-primary: var(--color-blue);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-sky);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);
    /* Colors */
    --color-white: #ffffff;
    --color-blue: #1b325c;
    --color-sky: #697ef1;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;
    /*Size*/
    --size-max-width: 1200px;
}
* {
    box-sizing: border-box;
    /* 박스 크기를 계산할 때 테두리를 기준으로 크기를 결정 
  요소가 애플리케이션 화면을 벗어나지 않도록 예방*/
}
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}
h1, h2, h3, p, ul {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--color-text);
}
/*Common (공통으로 사용하는 것)*/
.section {
    padding: 4rem;
    text-align: center;
}
.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}
.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}
.max-container {
    max-width: var(--size-max-width);
    /*창 늘어날 때 박스 간격 벌어지는 것 방지*/
    margin: auto;
    /*block 레벨 수평정렬 - auto는 자동으로 중간 정렬*/
}
main {
    height: 650px;
}

table {
    font-size: 20px;
}

th {
    height: 70px;
    width: 200px;
}

td {
    width: 500px;
}

/* Left */
.myTitle {
    margin-top: 30px;
    margin-left: 70px;
    margin-bottom: 30px;
}
.myText {
    margin-left: 20px;
}
.fa-regular {
    margin-right: 20px;
    margin-top: 14px;
    color: gray;
    float: right;
}
div.left {
    float: left;
    margin-bottom: 2000px;
}
.myMenu {
    display: block;
    border: 1px solid lightgray;
    width: 200px;
    font-size: 20px;
    margin-left: 80px;
    margin-right: 20px;
    text-align: left;
    line-height: 50px;
    color: black;
}
/* Middle */
.mTitle {
    width: 100%;
}
.mText {
    line-height: 100px;
}
div.middle {
    margin-left: 50px;
    margin-right: 50px;
    height: 700px;
    float: left;
    box-sizing: border-box;
}
.user_info_name {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}
/* Right */
div.right {
    margin-left: 200;
    height: 700px;
    float: left;
}
.user_info {
    margin-top: 30px;
    font-size: 20px;
}
div.withdrawal {
    margin-left: 580px;
    float: left;
}
div.withdrawal>button {
    font-size: 20px;
}
/* review */
div.reviewBox {
    overflow: auto;
    border-bottom: 1px solid black;
    margin: 0px 150px 0px 350px;
    padding-top: 20px;
    padding-bottom: 50px;
}
img.posterImg {
    float: left;
    width: 112px;
    height: 160px;
    margin-right: 20px;
    cursor: pointer;
}
.reviewUpdate {
    float: right;
    margin-right: 50px;
}
.xmark {
    float: right;
    width: 32px;
    height: 32px;
    margin-top: 5px;
    cursor: pointer;
}
span.movieName, .movieNameSub, .movieRate, .reviewDes, .reviewUpdate {
    font-size: 30px;
}
.starBox {
    width: 270px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 10px;
}
img.star {
    width: 26px;
    height: 26px;
}
.rate {
	padding: 0px;
	margin: 0 auto;
	font-size: 30px;
	width: 65px;
}

.star {
	font-size: 30px;
}

/* review-Sub */
.subHeader {
    min-height: 50px;
    width: 100%;
    background-color: var(--color-primary);
}
.title {
    font-size: 2.5rem;
    margin: 1rem 0;
    display: block; /* span을 블록 요소로 변경 */
    text-align: center; /* 가운데 정렬 */
    line-height: 100px;
}
div.reviewSubBox {
    overflow: auto;
    border-top: 1px solid black;
    padding-top: 50px;
    padding-left: 65px;
    padding-bottom: 50px;
    text-align: left; /* 내용은 왼쪽 정렬 유지 */
    margin: auto;
}
img.posterImgSub {
    float: left;
    width: 84px;
    height: 120px;
    margin-right: 20px;
}
textarea {
    display: block;
    margin-bottom: 50px;
}
.update {
    display: block;
    margin: 0 auto;
    font-size: 30px;
}
.sub {
    height: 700px;
    width: 500px;
    margin: 0 auto;
}
/* favorite */
div.favoriteBox {
    position: relative;
    overflow: auto;
    float: left;
    /* border-right: 1px solid black; */
    padding: 50px 40px 50px 50px; /* Adjust the right padding value */
    margin: 0 auto;
    text-align: center;
}
img.favoriteImg {
    position: relative;
    width: 209;
    height: 300px;
    margin-right: 20px;
    cursor: pointer;
}
.movieNameSub {
    line-height: 60px;
}
.heart {
    position: absolute;
    z-index: 1;
    width: 32px;
    height: 32px;
    left: 260px;
    top: 60px;
}
span.favoriteMovieName {
    font-size: 30px;
   margin-right: 20px;
}
.favoriteStarBox {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 28px;
}
/*회원 탈퇴*/
/*Login*/
*, :after, :before {
    box-sizing: border-box;
}
.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
    display: block;
}
/* a {
  color: inherit;
  text-decoration: none;
} */
.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 650px;
    position: relative;
    background: url("../images/cinema.png") no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0
        rgba(0, 0, 0, 0.19);
    font-family: "Open Sans", sans-serif;
    color: #6a6f8c;
    /* background: #c8c8c8; */
    font: 600 16px/18px "Open Sans", sans-serif;
}
.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 30px 70px 50px 70px;
    background: rgba(40, 57, 101, 0.9);
}
.login-html .sign-in-htm, .login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0.4s linear;
}
.login-html .sign-in, .login-html .sign-up, .login-form .group .check {
    display: none;
}
.login-html .tab, .login-form .group .label, .login-form .group .button
    {
    text-transform: uppercase;
}
.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked+.tab, .login-html .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee;
}
.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.login-form .group {
    margin-bottom: 15px;
}
.login-form .group .label, .login-form .group .input, .login-form .group .button
    {
    width: 100%;
    color: #fff;
    display: block;
}
.login-form .group .input, .login-form .group .button, .login-form .group .button2
    {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
}
.before {
    margin: 0 160px 0 20px;
}
.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}
.login-form .group .label {
    color: #aaa;
    font-size: 12px;
    margin: 5px 0;
}
.login-form .group .button {
    background: #1161ee;
}
.login-form .group .button2 {
    background: #ff8080;
}
.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
}
.login-form .group label .icon:before, .login-form .group label .icon:after
    {
    content: "";
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}
.login-form .group .check:checked+label {
    color: #fff;
}
.login-form .group .check:checked+label .icon {
    background: #1161ee;
}
.login-form .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked+.tab+.sign-up+.tab+.login-form
  .sign-in-htm {
    transform: rotate(0);
}
.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
    transform: rotate(0);
}
.hr {
    height: 2px;
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
}
.foot-lnk {
    text-align: center;
}
/*화살표*/
.arrow-up {
    background-color: var(--color-primary);
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 5px 5px 0px 0px var(--color-accent);
    transition: opacity 300ms ease-in;
}
.fa-solid:hover {
    color: var(--color-accent-variant);
}
.fa-solid:focus {
    color: var(--color-accent-variant);
}