<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.conan.mapper.BoardMapper">
	<select id="getList" resultType="com.conan.domain.Board">
		select * from board where bno > 0
	</select>
	
	<insert id="insert">
		insert into board(title, content, writer)
		values(#{title}, #{content}, #{writer})
	</insert>
	
	<insert id="insertSelectKey">
		insert into board(title, content, writer)
		values(#{title}, #{content},	#{writer})
		<selectKey resultType="int" keyProperty="bno" order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>
	
	<select id="read" resultType="com.conan.domain.Board">
		select * from board where bno = #{bno}
	</select>
	
	<update id="increaseHit"> <!-- 조회 수 증가 -->
		update board set hit = hit+1 where bno = #{bno}
	</update>
	
	<delete id="delete">			<!-- 삭제 -->
		delete from board where bno = #{bno}
	</delete>
	
	<update id="update">		<!-- 수정 -->
		update board
		set title = #{title}, content = #{content}
		where bno = #{bno}
	</update>
	
</mapper>